:root {
  --orange: #f76328;
  --light-gray: #cac4c4;
  --dark-color: #300e01;
}

body {
  font-family: serif;
  color: var(--dark-color);
}
h1,
h2,
h3,
h4,
h5 {
  color: var(--dark-color);
}

a:link { 
  text-decoration: none; 
}

a:visited { 
  text-decoration: none; 
}

a:hover { 
  text-decoration: none; 
}

a:active { 
  text-decoration: none;
 }

.hero {
  position: relative;
  background: url("./images/senior.jpg") center center/cover;
  height: 85vh;
  width: 100%;
  padding: 4%;
  z-index: -1;
}

.hero:before {
  content: "";
  background: rgba(8, 8, 8, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero-desc {
  max-width: 25%;
  margin-left: 20%;
  margin-top: 2%;
  color: var(--light-gray);
}

.header {
  min-height: 8vh;
  background-color: var(--light-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  max-width: 7vw;
  max-height: 7vh;
}

.company-name {
  margin-left: 12%;
  font-family: cursive;
  color: var(--light-gray);
  text-shadow: 1px 1px var(--orange);
  font-size: 6rem;
}

.link {
  color: var(--dark-color);
  padding: 10px 8px;
}

.link.active {
  border-bottom: solid 1px var(--orange)
}

.link:hover {
  color: var(--dark-color);
  border: solid 2px var(--orange);
  border-radius: 5px;
}

.content-card {
  display: flex;
  max-height: 50%;
  max-width: 75%;
  margin-top: 2rem;
  box-shadow: 2px 2px #300e01;
}

.img {
  margin-right: 1rem;
  max-width: 400px;
  max-height: 400px;
}

.footer {
  width: 100%;
  min-height: 10vh;
  background-color: var(--light-gray);
}
